body {
  margin: 5% 10%;
  background-color: rgb(29,161,242);
}

body h1 {
  color: #FFF;
}

body > header {
  margin-bottom: 5%;
}

.hidden {
  visibility: hidden;
}

.activated-heart {
  color: red;
}